.primary {
    border: none;
    color: #fff;
    background-color: #2436A7;
    margin: 20px 0 30px 0;
  }
  
  .primary:hover {
    background-color: #5463CA;
  }
  
  .primary:disabled {
    background-color: rgb(198, 198, 234);
    color: gray;
  }
  
  .secondary {
    border: none;
    background-color: #E8E8E8;
    color: rgb(59, 58, 58);
  }
  
  .secondary:hover {
    border: none;
    background-color: #DADADA;
    color: rgb(59, 58, 58);
  }
  
  .secondary:disabled {
    border: none;
    background-color: #E8E8E8;
    color: rgb(59, 58, 58);
  }
  
  .secondary2 {
    color: #FA3728;
    border-color: none;
    border: none;
  }
  
  .secondary2:hover {
    border: 1px solid #DEDEDE;
  }
  
  .secondary2:disabled {
    color: #ACACB3;
  }
  
  .small {
    width: 40px;
    height: 20px;
  }
  
  .medium {
    font-size: 20px;
    width: 60px;
    height: 40px;
  }
  
  .large {
    font-size: 20px;
    width: 554px;
    height: 40px;
  }