.container_main {
    display: flex;
    height: 153.5px;
}

.container {
    box-sizing: border-box;
    border-bottom: 1px solid #cccbcf;
}

.img {
    width: 100px;
    height: 100px;
    margin: 15px;
}

.title {
    width: 270px;
    margin: 6px 0 0 0;
    color: #2e2d31;
    font-weight: 800;
    line-height: 20px;
}

.data {
    margin-top: 8px;
    color: rgb(119, 115, 115);
}

.text {
    color: rgb(119, 115, 115);
    line-height: 25px;

}
