.img {
    display: block;
    width: 750px;
    height: 400px;
    margin: 0 auto;

}

.container {
    width: 900px;
    margin: 0 auto;
}

.text {
    width: 700px;
    margin: 30px auto ;
    font-size: 18px;
}